$bp-largest: 80em;
$bp-large: 68.75em;
$bp-medium: 50em;
$bp-small: 40em;
$bp-smallest: 27em;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.6;
  background-color: #f3f3f3;
  overflow-x: hidden;
}
